@use "./partials/_navbar.scss";
@use "./partials/_footer.scss";
@use "./partials/default-main";
@use "./partials/_pallete.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}

#boton-descargar{
    @extend .btn, .btn-primary;
    display: block;
    margin: 2rem auto;
    width: 100px;
    
    background-color: #006599;
    color: white;
}
