@use "./partials/_navbar.scss";
@use "./partials/_footer.scss";
@use "./partials/_default-main.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}


#inicio-avatar{
    display: block;
    margin: 3rem auto;
    border-radius: 50%;
}

#conocimientos{
    margin: 5rem auto;
}

#bio{
    margin: 0 auto;
}
