@use "./_pallete.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap";
main{
    width: 60%;
    margin: 3rem auto;
    font-size: 18px;

    h1{
        font-size: 32px;
        margin-bottom: 1.5rem;
    }
    h2{
        font-size: 24px;
    }
}

.active{
   @extend .active
}