@use "./_pallete.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap";

html, body, main{
    min-height: 100vh !important;
}

main{
    width: 60%;
    margin: 3rem auto;
    font-size: 18px;

    h1{
        font-size: 32px;
        margin-bottom: 1.5rem;
    }
    h2{
        font-size: 24px;
    }

    @media only screen and (max-width: 600px) {
        width: 95% !important;
    }

    @media only screen and (max-width: 992px) {
        width: 80%;
    }
}

.active{
   @extend .active
}