@import "../../../node_modules/bootstrap/scss/bootstrap";

#footer{
    @extend .text-center, .text-lg-start, .bg-light, .text-muted;
    position: relative;
    bottom: 0px;
    width: 100%;
    div{
        @extend .text-center, .p-2;
        background-color: rgba(0, 0, 0, 0.05);
        font-size: 12px;
    }
}
