@use "./_pallete.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap";

#header{
    @extend .navbar, .navbar-expand-lg, .navbar-dark;
    @extend .custom-primary;

    #logo{
        color: rgba(255, 255, 255, 0.55);
    }

    div{
        @extend .container-fluid;
        a{
            @extend .navbar-brand;
        }
        button{
            @extend .navbar-toggler;
            span{
               @extend .navbar-toggler-icon; 
            }  
            
        }
        div{
            @extend .collapse, .navbar-collapse;
            ul{
                @extend .navbar-nav;
                li{
                    @extend .nav-item;

                    a{
                        @extend .nav-link;
                        font-size: 18px;
                    }
                    
                }
                
            }
        }
    }
    
}